<div class="settings-box">
  <div class="wealth-header">
    <h2>{{ languageService.translate('quickAction') }}</h2>
    <hr>
  </div>

  <div class="settings-nav">
    <a class="settings-link"><span class="settings-link-text">{{ languageService.translate('openNewAccount') }}</span></a>
    <a class="settings-link"><span class="settings-link-text">{{ languageService.translate('closeAccount') }}</span></a>
  </div>
<!-- TODO: popup for account actions -> need to connect with backend first -->
</div>
