<div class="chart-container">
  <div class="chart-header">
    <h2>{{ languageService.translate('exchangeRates') || 'Exchange Rates' }}</h2>
    <hr>
  </div>
  
  <div class="rates-content" *ngIf="!isLoading; else loading">
    <div class="rate-box" *ngFor="let rate of exchangeRates">
      <div class="rate-pair">
        <span class="currency-from">{{ rate.from }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="arrow-icon">
          <path d="M5 12h14"></path>
          <path d="m12 5 7 7-7 7"></path>
        </svg>
        <span class="currency-to">{{ rate.to }}</span>
      </div>
      <div class="rate-value">{{ rate.rate.toFixed(2) }}</div>
    </div>
  </div>
  
  <ng-template #loading>
    <div class="loading-state">Loading exchange rates...</div>
  </ng-template>
</div>