.box {
  border: 1px solid var(--color-gray);
  padding: var(--padding-standard);
  box-sizing: border-box;
  border-radius: 0;
  font-family: var(--font-family);
  color: var(--color-black);
  max-width: 100%;
  grid-area: pending-transactions;
}

.box .header h2 {
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 0;
  display: flex;
  align-items: center;
}

.box .header hr {
  border: 0;
  border-top: 1px solid var(--color-black);
  margin-bottom: 20px;
}

