.transaction-container {
  border: 1px solid var(--color-gray);
  padding: var(--padding-standard);
  padding-bottom: 10px;
  background-color: var(--color-white);
  font-family: var(--font-family);
  color: var(--color-black);
  grid-area: pending-transactions;
}

.transaction-header h2 {
  font-weight: normal;
  margin: 0;
  display: flex;
  align-items: center;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-btn:hover {
  color: var(--color-accent-dark);
}

.transaction-header hr {
  border: 0;
  border-top: 1px solid var(--color-black);
  margin-bottom: 20px;
}

.total-amount-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.transaction-amount {
  color: var(--color-accent-dark);
  font-weight: normal;
  font-size: 1em;
}




.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: var(--color-white);
  padding: 40px;
  border-radius: 4px;
  width: 80%;
  max-width: 800px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.full-height-grid {
  overflow-y: auto;
  flex: 1;
  padding-right: 5px;
  overscroll-behavior: contain;
}

.transactions-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-bottom: 15px;
}

.scrollable-grid {
  max-height: 200px;
  overflow-y: auto;
  padding-right: 5px;
}

.transaction-box {
  background-color: var(--color-accent-light);
  padding: 10px;
  display: grid;
  grid-template-columns: 10ch 1fr auto;
  align-items: center;
  gap: 10px;
}

.transaction-name {
  font-weight: normal;
  max-width: 10ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.85em;
}

.transaction-konto {
  font-weight: normal;
  color: var(--color-gray-dark);
  font-size: 0.85em;
  text-align: left;
  padding-left: 25px;
}

.transaction-balance {
  font-weight: normal;
  font-size: 0.85em;
  text-align: right;
}

.modal-content .transaction-box {
  grid-template-columns: 10ch 150px auto;
  gap: 140px;
}

.modal-content .transaction-konto {
  text-align: center;
  padding-left: 0;
}

.transaction-hint {
  font-size: 0.9em;
  color: var(--color-accent-dark);
  text-align: left;
  margin-top: 0px;
}