/* shared transaction styles */
@import '../shared-transactions.css';

.transaction-container {
  grid-area: pending-transactions;
}

.total-amount-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.transaction-amount {
  font-size: 1em;
}

.scrollable-grid {
  max-height: 200px;
}

/* Override transaction box layout for pending transactions */
.transaction-box {
  padding: 8px 10px;
  grid-template-columns: 10ch 1fr auto auto;
  gap: 10px 15px;
  height: 44px;
}

.transaction-name {
  max-width: 10ch;
}

.transaction-hint {
  font-size: 0.9em;
  color: var(--color-accent-dark);
  text-align: left;
  margin-top: 0px;
}