.page-container {
  margin-top: 7vh;
  display: grid;
  grid-template-areas: "create-transaction pending-transactions" "reoccuring-transactions completed-transactions";
  grid-template-columns: 60% 40%;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
  min-height: calc(100vh - 60px);
  padding: 4rem clamp(1rem, calc(50vw - 475px), 25%);
  background-color: var(--color-white);
  max-width: 100%;
  box-sizing: border-box;
  justify-content: center;
}

.page-content {
  font-size: 1rem;
  font-weight: 300;
  color: var(--color-black);
  line-height: 1.6;
  margin-bottom: 3rem;
  max-width: 600px;
}