.page-container {
  margin-top: 9vh;
  display: flex;
  flex-direction: row;
  gap: 24px;
  height: 85vh; /* MAXMIN */
  padding: 2rem clamp(1rem, calc(50vw - 475px), 25%);
  background-color: var(--color-white);
  max-width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: stretch;
  overflow: hidden;
}

.transaction-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
  width: 100%;
  min-width: 0;
  height: 100%; /* MAXMIN */
  overflow: hidden;
}

.page-content {
  font-size: 1rem;
  font-weight: 300;
  color: var(--color-black);
  line-height: 1.6;
  margin-bottom: 3rem;
  max-width: 600px;
}