:host {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.pie-chart-box {
  border: 1px solid var(--color-gray);
  padding: var(--padding-standard);
  background-color: var(--color-white);
  font-family: var(--font-family);
  color: var(--color-black);
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.chart-header h3 {
  font-weight: normal;
  margin: 0 0 5px 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 1rem;
}

.subtitle {
  font-size: 0.75rem;
  color: var(--color-accent-dark);
  margin-bottom: 10px;
}

.chart-header hr {
  border: 0;
  border-top: 1px solid var(--color-black);
  margin-bottom: 20px;
}

.canvas-container {
  position: relative;
  flex: 1;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-container.loading canvas {
  opacity: 0.3;
}

.loader, .no-data {
  position: absolute;
  font-size: 0.9rem;
  color: var(--color-accent-dark);
}

canvas {
  width: 100% !important;
  height: 100% !important;
  max-width: 75%;
  max-height: 75%;
}
