<div class="wealth-container">
  <div class="wealth-header">
    <h2 class="wealth-tooltip-container">
      {{ languageService.translate('current') }} {{ languageService.translate('wealth') }}:
      <span class="info-icon">
        <img src="icons/info.svg" alt="info" class="info-svg">
        <span class="tooltip">{{ languageService.translate('currentWealthTooltip') }}</span>
      </span>
      <span class="wealth-amount">{{ currentWealth }} CHF</span>
    </h2>
    <hr>
  </div>
  <div class="accounts-header">
    <span class="account-header-name"> {{ languageService.translate('accountname') }}</span>
    <span class="account-header-interest-rate">{{ languageService.translate('interestRate') }}</span>
    <span class="account-header-interest-balance">{{ languageService.translate('balance') }}</span>
  </div>
  <div class="accounts-grid">
    <div class="account-box" *ngFor="let konto of konten">
      <span class="account-name">{{ konto.kontoName }}</span>
      <span class="account-interest-rate">N/A</span>
      <span class="account-balance">{{ konto.balance }} CHF</span>
    </div>
  </div>
  <div class="scroll-indicator">
    <p>{{ languageService.translate('scrollForMore') }}</p>
  </div>
</div>