<div class="wealth-container">
  <div class="wealth-header">
    <h2>{{ languageService.translate('provisional') }} {{ languageService.translate('wealth') }}: <span class="wealth-amount">150000 CHF</span></h2>
    <h2>{{ languageService.translate('current') }} {{ languageService.translate('wealth') }}: <span class="wealth-amount">150500 CHF</span></h2>
    <hr>
  </div>
  <div class="accounts-header">
    <span class="account-header-name"> {{ languageService.translate('accountname') }}</span>
    <span class="account-header-interest-rate">{{ languageService.translate('interestRate') }}</span>
    <span class="account-header-interest-balance">{{ languageService.translate('balance') }}</span>
  </div>
  <div class="accounts-grid">
    <div class="account-box">
      <span class="account-name">Konto 1</span>
      <span class="account-interest-rate">1.5%</span>
      <span class="account-balance">12500 CHF</span>
    </div>
    <div class="account-box">
      <span class="account-name">Konto 2</span>
      <span class="account-interest-rate">1.7%</span>
      <span class="account-balance">50000 CHF</span>
    </div>
    <div class="account-box">
      <span class="account-name">Konto 3</span>
      <span class="account-interest-rate">1.5%</span>
      <span class="account-balance">5000 CHF</span>
    </div>
    <div class="account-box">
      <span class="account-name">Konto 4</span>
      <span class="account-interest-rate">1.2%</span>
      <span class="account-balance">20000 CHF</span>
    </div>
    <div class="account-box">
      <span class="account-name">Konto 5</span>
      <span class="account-interest-rate">0.5%</span>
      <span class="account-balance">60000 CHF</span>
    </div>
    <div class="account-box">
      <span class="account-name">Konto 6</span>
      <span class="account-interest-rate">1.5%</span>
      <span class="account-balance">2500 CHF</span>
    </div>
    <div class="account-box">
      <span class="account-name">Longer namer is also suitable</span>
      <span class="account-interest-rate">1.5%</span>
      <span class="account-balance">5 CHF</span>
    </div>
    <div class="account-box">
      <span class="account-name">Konto 5</span>
      <span class="account-interest-rate">0.5%</span>
      <span class="account-balance">-500 CHF</span>
    </div>
    <div class="account-box">
      <span class="account-name">Konto 5</span>
      <span class="account-interest-rate">3.5%</span>
      <span class="account-balance">-500 CHF</span>
    </div>
    <div class="account-box">
      <span class="account-name">Konto 5</span>
      <span class="account-interest-rate">2%</span>
      <span class="account-balance">-500 CHF</span>
    </div>
  </div>
</div>