.navbar {
    border: 2px solid rgb(0, 0, 0); /* Need to change later cba rn */
    border-radius: 24px;
    padding: 25px;
    overflow: hidden;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;;
}

.nav-links {
    display: flex;
    align-items: center;
    flex: 0 0 50%;
    justify-content: space-around;
}

.nav-link {
    margin: 0 20px;
    text-decoration: none;
    color: rgb(0, 0, 0); /* Need to change later cba rn */
}

.nav-controls {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 0 0 15%;
    align-items: flex-end;
    margin-left: 200px;
}

.theme-switch, .language-switch {
    display: flex;
    gap: 10px;
}

.theme-option, .language-option {
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
}

.theme-option.active, .language-option.active {
    text-decoration: underline;
    font-weight: bold;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    flex: 0 0 15%;
    font-size: 20px;
}

.user-name {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.account-number {
    color: rgb(0, 0, 0);
}