:host {
  display: flex;
  flex-direction: column;
  flex: 1; /* MAXMIN */
  min-height: 0;
}

.chart-box {
  border: 1px solid var(--color-gray);
  padding: var(--padding-standard);
  box-sizing: border-box;
  border-radius: 0;
  font-family: var(--font-family);
  color: var(--color-black);
  max-width: 100%;
  height: 100%; /* MAXMIN */
  display: flex;
  flex-direction: column;
}

.bar-chart-container {
  flex: 1; /* MAXMIN */
  min-height: 150px; /* MAXMIN */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 5px;
  flex-direction: column;
}

.small-note {
  font-size: 0.7rem;
  margin-top: 2px;
  font-style: italic;
  color: var(--color-gray);
}
