.chart-box {
  border: 1px solid var(--color-gray);
  padding: var(--padding-standard);
  box-sizing: border-box;
  border-radius: 0;
  font-family: var(--font-family);
  color: var(--color-black);
  max-width: 100%;
}

.bar-chart-container {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 5px;
  flex-direction: column;
}

.small-note {
  font-size: 0.7rem;
  margin-top: 2px;
  font-style: italic;
  color: var(--color-gray);
}
