.wealth-container {
  border: 1px solid var(--color-gray);
  padding: var(--padding-standard);
  margin-top: 3vh;
  background-color: var(--color-white);
  font-family: 'Special Gothic', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  color: var(--color-black);
  width: 90%; /* for now, might have to go back to 100 if possible, have to see about transactions box*/
}

.wealth-header h2 {
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 0;
  display: flex;
  align-items: center;
}

.wealth-amount {
  color: var(--color-accent-dark);
  font-weight: normal;
  margin-left: auto;
}

.provisional {
  color: red;
}

.wealth-header hr {
  border: 0;
  border-top: 1px solid var(--color-black);
  margin-bottom: 20px;
}

.accounts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-bottom: 15px;
}

.account-box {
  background-color: var(--color-accent-light);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.account-name {
  font-weight: normal;
  max-width: 12ch; /* max 12 chars then cutoff */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.account-balance {
  font-weight: normal;
}

.wealth-footer a {
  color: var(--color-accent-dark);
  text-decoration: underline;
  text-underline-offset: 3px;
}