@import url('https://fonts.googleapis.com/css2?family=Special+Gothic:wght@400;700&display=swap');

:root {
  --color-black: #1D1D1D;
  --color-gray: #BFBFBF;
  --color-white: #EFEFEF;
  --color-whiter: #fefdfd;
  --color-accent-light: #A5B3BA;
  --color-accent-dark: #5A7684;
  --padding-standard: 24px;
  --font-family: 'Special Gothic', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-white);
  color: var(--color-black);
}
