.page-container {
  margin-top: 3vh;
  display: grid;
  grid-template-areas: "wealth transactions" "chart transactions";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  gap: 24px;
  min-height: calc(100vh - 60px);
  padding: 4rem 25%;
  background-color: var(--color-white);
}


.wealth {
  grid-area: wealth;
}

.chart {
  grid-area: chart;
}

.transactions {
  grid-area: transactions;
}

.page-content {
  font-size: 1rem;
  font-weight: 300;
  color: var(--color-black);
  line-height: 1.6;
  margin-bottom: 3rem;
  max-width: 600px;
}