.page-container {
  margin-top: 9vh;
  display: grid;
  grid-template-areas: "wealth transactions" "chart transactions";
  grid-template-columns: 1.3fr 1fr;
  grid-template-rows: minmax(0, 1.72fr) minmax(0, 1fr); /* MAXMIN */
  gap: 24px;
  height: 85vh; /* MAXMIN */
  padding: 2rem clamp(1rem, calc(50vw - 475px), 25%);
  background-color: var(--color-white);
  max-width: 100%;
  box-sizing: border-box;
  justify-content: center;
  overflow: hidden;
}

.wealth {
  grid-area: wealth;
}

.chart {
  grid-area: chart;
}

.transactions {
  grid-area: transactions;
}

.page-content {
  font-size: 1rem;
  font-weight: 300;
  color: var(--color-black);
  line-height: 1.6;
  margin-bottom: 3rem;
  max-width: 600px;
}

@media (max-width: 768px) {
  .page-container {
    grid-template-areas: 
      "wealth"
      "chart"
      "transactions";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    padding: 2rem 1rem;
  }
}