@import '../shared-transactions.css';

.transaction-container {
  border: 1px solid var(--color-gray);
  padding: var(--padding-standard);
  background-color: var(--color-white);
  max-height: 9vh;
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  width: 100%;
}

.h2-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: none;
  font-family: var(--font-family);
  font-size: 1.5rem;
  font-weight: normal;
  color: var(--color-black);
  cursor: pointer;
  padding-right: 30px;
  width: 100%;
  outline: none;
  margin: 0;
  line-height: 1.2;
}

.h2-select:focus {
  outline: none;
}

.chevron-down {
  position: absolute;
  right: 0;
  pointer-events: none;
  color: var(--color-black);
}

.h2-select option {
  font-size: 1rem;
  color: var(--color-black);
  background-color: var(--color-white);
}

.transaction-header hr {
  border: 0;
  border-top: 1px solid var(--color-black);
  margin-bottom: 20px;
}
