<div class="transaction-container">
  <div class="transaction-header">
    <h2>{{ languageService.translate('transactions') }}</h2>
    <hr>
  </div>
  <div class="transactions-grid">
    <div class="transaction-box">
      <span class="transaction-name">Transaction 1</span>
      <span class="transaction-balance">12500 CHF</span>
    </div>
    <div class="transaction-box">
      <span class="transaction-name">Transaction 2</span>
      <span class="transaction-balance">50000 CHF</span>
    </div>
    <div class="transaction-box">
      <span class="transaction-name">Transaction 3</span>
      <span class="transaction-balance">- 5000 CHF</span>
    </div>
    <div class="transaction-box">
      <span class="transaction-name">Transaction 4</span>
      <span class="transaction-balance">20000 CHF</span>
    </div>
    <div class="transaction-box">
      <span class="transaction-name">Transaction 5</span>
      <span class="transaction-balance">600000000000000 CHF</span>
    </div>
    <div class="transaction-box">
      <span class="transaction-name">Transaction 6</span>
      <span class="transaction-balance">2500 CHF</span>
    </div>
    <div class="transaction-box">
      <span class="transaction-name">Transaction 7</span>
      <span class="transaction-balance">- 2500 CHF</span>
    </div>
    <div class="transaction-box">
      <span class="transaction-name">Longer name - cutoff 25chars  wowowowowwoo</span>
      <span class="transaction-balance">5 CHF</span>
    </div>
  </div>
  <div class="transaction-footer">
    <a href="#">{{ languageService.translate('seeMore') }}</a>
  </div>
</div>