/* shared transaction styles */
@import '../../transactions/shared-transactions.css';

.transaction-header h2 {
  margin-bottom: 10px;
  margin-top: 0;
}

.transaction-amount {
  margin-left: auto;
}

/* Override transaction grid gap for dashboard */
.transactions-grid {
  gap: 15px;
}

/* Override transaction box layout for dashboard */
.transaction-box {
  grid-template-columns: 1fr auto auto;
  min-height: 0;
}

.transaction-box.pending {
  background-color: var(--color-accent-lighter);
}

.transaction-name {
  max-width: 25ch;
}

.transaction-footer a {
  color: var(--color-accent-dark);
  text-decoration: underline;
  text-underline-offset: 3px;
}

.transaction-footer a:hover {
    color: var(--color-black);
    border-bottom-color: var(--color-black);
}