.transaction-container {
  border: 1px solid var(--color-gray);
  padding: var(--padding-standard);
  background-color: var(--color-white);
  font-family: var(--font-family);
  color: var(--color-black);
}

.transaction-header h2 {
  font-weight: normal;
  margin-bottom: 10px;
  margin-top: 0;
  display: flex;
  align-items: center;
}

.transaction-amount {
  color: var(--color-accent-dark);
  font-weight: normal;
  margin-left: auto;
}

.transaction-header hr {
  border: 0;
  border-top: 1px solid var(--color-black);
  margin-bottom: 20px;
}

.transactions-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin-bottom: 15px;
}

.transaction-box {
  background-color: var(--color-accent-light);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.transaction-box.pending {
  background-color: var(--color-accent-lighter);
}

.transaction-name {
  font-weight: normal;
  max-width: 25ch; /* max 25 chars then cutoff */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.transaction-balance {
  font-weight: normal;
}

.transaction-footer a {
  color: var(--color-accent-dark);
  text-decoration: underline;
  text-underline-offset: 3px;
}

.transaction-footer a:hover {
    color: var(--color-black);
    border-bottom-color: var(--color-black);
}