/* shared transaction styles */
@import '../../transactions/shared-transactions.css';

.transaction-header h2 {
  margin-bottom: 10px;
  margin-top: 0;
}

.transaction-amount {
  margin-left: auto;
}

.transactions-wrapper {
  height: 64.3vh;
  overflow-y: auto;
  overscroll-behavior: contain;
}

.transactions-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  margin-bottom: 15px;
}

.transaction-box {
  grid-template-columns: 1fr auto auto;
  min-height: 0;
}

.date-header {
  font-size: 0.9em;
  color: var(--color-gray-dark);
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: normal;
  padding-left: 5px;
}

.transaction-box.pending {
  background-color: var(--color-accent-lighter);
}

.transaction-name {
  max-width: 25ch;
}

.transaction-footer a {
  color: var(--color-accent-dark);
  text-decoration: underline;
  text-underline-offset: 3px;
}

.transaction-footer a:hover {
    color: var(--color-black);
    border-bottom-color: var(--color-black);
}