<div class="transaction-container">
  <div class="transaction-header">
    <h2>{{ languageService.translate('transactions') }}</h2>
    <hr>
  </div>
  <div class="transactions-grid" *ngIf="!isLoading; else loading">
    <div class="transaction-box" *ngFor="let transaction of displayedTransactions" [class.pending]="transaction.isPending">
      <span class="transaction-name">{{ transaction.message }}</span>
      <span class="transaction-balance" [class.negative]="transaction.amount < 0">
        {{ transaction.amount > 0 ? '' : '- ' }}{{ Math.abs(transaction.amount).toFixed(2) }} CHF
      </span>
    </div>
  </div>
  <ng-template #loading>
    <div class="transactions-grid">
      <div class="transaction-box">Loading...</div>
    </div>
  </ng-template>
  <div class="transaction-footer">
    <a routerLink="/transactions">{{ languageService.translate('seeMore') }}</a>
  </div>
</div>